<link href="~/css/home.css" rel="stylesheet" />
<head>
    <title>
        Цветочный магазин
    </title>
</head>
<body>

    <div class="hero">
        <div>
            <h2>
                Добро пожаловать в наш цветочный магазин
            </h2>
            <p>
                Самые свежие и красивые цветы для вас
            </p>
        </div>
    </div>
    <div class="content">
        <h2>
            Наши товары
        </h2>
        <div class="products">
            <div class="product">
                <img alt="Красивая цветочная композиция" height="300" src="image/foto1.jpg" width="300" />
                <h3>
                    Букет роз
                </h3>
                <p>
                    Красивый букет свежих роз.
                </p>
                <div class="price">
                    1500 руб.
                </div>
                <button>
                    Купить
                </button>
            </div>
            <div class="product">
                <img alt="Красивая цветочная композиция" height="300" src="image/foto2.jpg" width="300" />
                <h3>
                    Букет лилий
                </h3>
                <p>
                    Элегантный букет белых лилий.
                </p>
                <div class="price">
                    1200 руб.
                </div>
                <button>
                    Купить
                </button>
            </div>
            <div class="product">
                <img alt="Красивая цветочная композиция" height="300" src="image/foto3.jpg" width="300" />
                <h3>
                    Букет лилий
                </h3>
                <p>
                    Элегантный букет белых лилий.
                </p>
                <div class="price">
                    1800 руб.
                </div>
                <button>
                    Купить
                </button>
            </div>
        </div>
    </div>

</body>