<link href="~/css/privacy.css" rel="stylesheet" />
<div class="container">
    <h1>@ViewData["Title"]</h1>

    <p>Добро пожаловать в наш магазин цветов! Мы уважаем Вашу конфиденциальность и стремимся защитить Ваши персональные данные.</p>

    <h2>Сбор информации</h2>
    <p>Мы собираем информацию, когда Вы насчитываетесь на нашем сайте, делаете заказ или подписываетесь на нашу рассылку. Эта информация может включать Ваше имя, электронную почту, адрес доставки и номер телефона.</p>

    <h2>Использование информации</h2>
    <p>Полученные данные используются для обработки Ваших заказов, предоставления клиентской поддержки и отправки Вам информации о наших продуктах и акциях.</p>

    <h2>Защита информации</h2>
    <p>Мы применяем различные меры безопасности для защиты Ваших личных данных. Все передаваемые данные шифруются, и доступ к ним ограничивается только уполномоченным персоналом.</p>

    <h2>Контактная информация</h2>
    <p>Если у Вас есть вопросы о нашей политике конфиденциальности, пожалуйста, свяжитесь с нами по электронной почте info@flowerstore.com.</p>

    <img class="image" src="~/image/kotya.jpg" alt="Цветы" />
</div>
