body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: #f8f8f8;
}


navbar {
    display: flex;
    justify-content: center;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

nav {
    display: flex;
    justify-content: center;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

    nav a {
        padding: 15px 20px;
        text-decoration: none;
        color: #333;
        font-size: 16px;
    }

        nav a:hover {
            background: #957c63;
            color: #fff;
            border-radius: 8px;
        }



.hero {
    background: url('/image/fon1.jpg');
    no-repeat center center;
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

    .hero h2 {
        font-size: 48px;
        margin: 0;
    }

    .hero p {
        font-size: 24px;
        margin: 10px 0 0;
    }

.content {
    padding: 40px 20px;
    text-align: center;
}

    .content h2 {
        font-size: 32px;
        margin-bottom: 20px;
        color: #704f38;
    }

.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
}

    .product img {
        width: 100%;
        border-radius: 10px;
    }

    .product h3 {
        font-size: 24px;
        margin: 10px 0;
        color: #333;
    }

    .product p {
        font-size: 16px;
        color: #777;
    }

    .product .price {
        font-size: 20px;
        color: #ff6f61;
        margin: 10px 0;
    }

    .product button {
        background: #423d2b;
        border: none;
        border-radius: 50px;
        padding: 10px 20px;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
    }

        .product button:hover {
            background: #e5d8ca;
        }
