<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">GreenLight</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Catalog" asp-action="Index">Каталог</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Autorization" asp-action="Index">Авторизация</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">О нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Autorization" asp-action="Profile">
                            <i class="fas fa-user"></i> Профиль
                        </a>
                    </li>
                    <li class="nav-item">
                        @if (User.IsInRole("admin"))
                        {
                        <li><a class="dropdown-item" href="~/Admin/Index">Все продукты</a></li>
                        }
                    <i class="fas fa-user"></i>
                    </a>
                    </li>
                </ul>

                <!-- Корзина -->
                <div class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="Index">
                        <i class="fas fa-shopping-cart"></i> Корзина
                    </a>
                </div>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Админ
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="Index">Все продукты</a></li>
                        <li><a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="IndexUser">Пользователи</a></li>
                        <li><a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="ManageCategories">Категории</a></li>


                    </ul>
                </div>

            </div>
        </div>
    </nav>
</header>