@{
    ViewData["Title"] = "Регистрация";
}

<head>
    <title>Регистрация</title>
    <link href="~/css/autorization.css" rel="stylesheet" />
</head>
<body>

    <div class="signup-form">
        <h2>Sign up</h2>
        <p>Join the community today!</p>
        <form method="post" action="@Url.Action("Registry", "Autorization")">
            <label for="login">Логин</label>
            <input type="text" class="form-control" id="login" name="login" required placeholder="admin" />

            <label for="password">Пароль</label>
            <input type="password" class="form-control" id="password" name="password" required placeholder="Password" />

            <label for="email">Электронная почта</label>
            <input type="email" class="form-control" id="email" name="email" required placeholder="pozingis.laimonas@gmail.com" />

            <label for="name">Имя</label>
            <input type="text" class="form-control" id="name" name="name" required placeholder="John Doe" />

            <label for="phone">Телефон</label>
            <input type="text" class="form-control" id="phone" name="phone" required placeholder="+123456789" />

            <label for="role">Роль</label>
            <select class="form-control" id="role" name="role" required>
                <option value="customer">Покупатель</option>
            </select>

            <button type="submit" class="signup-btn">Sign Up</button>
        </form>

        @if (ViewData["Error"] != null)
        {
            <div class="alert alert-danger mt-3">
                @ViewData["Error"]
            </div>
        }

        <p>Уже есть аккаунт? <a href="@Url.Action("Index", "Autorization")">Войти</a></p>
    </div>

</body>
